<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Little By Little</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="">Main</a></li>
          <li><a href="">Friends</a></li>
          <li><a href="">Groups</a></li>
          <li><a href="">Profile</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="habbit">
        <h4>Habbit 1:</h4>
        <p>Days followed: ...</p>
      </div>
    </main>
  </body>
</html>
